mitsuba-results
pbrt-results
blender-results

mitsuba-viewers
pbrt-viewers
blender-viewers

mitsuba-buffers
pbrt-buffers
blender-buffers

pbrt-results*
pbrt-viewers*

# mitsuba-scenes
# pbrt-scenes
# blender-scenes

__pycache__